*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#market{
  visibility: hidden;
  width: 0;
  height: 0;
}
#footer_left{
  visibility: hidden;
  width: 0;
  height: 0;
}
#slides{
  width: 100%;
  height: auto;
  padding-left: 0% !important;
  .carr{
    position: absolute;
    z-index: -1;
  }
  .overlay{
    width: 100%;
    height: 230px;
    background-color:  rgba(41, 39, 39, 0.5);
    position: relative;
    z-index: 5;
    h1{
      font-size: 1.1rem;
      color: white;
      padding-top: 10px;
    }
    p{
      color: white;
      font-size: 1rem;
      padding-bottom: 10px;
    }
    a{
      text-decoration: none;
      padding: 10px 44px;
      border-radius: 15px;
      background-color: #FAB005;
      color: #10223A;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 700;
      font-size: 1rem;
      transition: 0.3s ease-in-out;
      &:hover{
        background-color: #10223A;
        color: white;
      }
    }
  }
}
#qua{
  width: 100%;
  height: auto;
  padding-top: 40px;
  .sek{
      position: relative;
      img{
        width: 340px;
        border-radius: 15px;
      }
      .overlay{
        position: absolute;
        padding: 20px;
        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
        background-color: #D99D14;
        font-size: 24px;
        opacity: 0.8;
        margin-top: -20px;
        color: white;
        font-style: italic;
        top: 0%;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        span{
          display: block;
        }
      }
  }
  .textss{
    i{
      color: #fab0056b;
      font-size: 1.5rem;
    }
    h6{
      color: gray;
    }
    h1{
      font-size: 3rem;
      color: #10223A;
    }
    p{
      color: #444444;
      font-size: 1.1rem;
      padding: 15px 0;
    }
    a{
      text-decoration: none;
      padding: 5px 22px;
      border-radius: 10px;
      background-color: #FAB005;
      color: #10223A;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 700;
      font-size: 1rem;
      transition: 0.3s ease-in-out;
      &:hover{
        background-color: #10223A;
        color: white;
      }
    }
  }
}
#xaski{
  width: 100%;
  height: 500px;
  padding-top: 56.9px;
  button{
    border: none;
    background-color: white;
    padding-bottom: 10px;
    img{
      border-radius: 20px;
      &:hover{
        border-radius: 20px;
        border: 3px solid orange;
      }
    }
  }
}
#we{
  width: 85%;
  padding-left: 10px;
  padding-top: 600px;
  margin-left: 10px;
  .love{
    i{
      color: #fab0056b;
      font-size: 1rem;
    }
    h6{
      font-size: 1rem;
      color: gray;
    }
    h1{
      font-size: 2.5rem;
      color: #10223A;
    }
    p{
      color: #444444;
      font-size: 1.1rem;
      padding: 10px 0 0 0;
    }
    h5{
      color: #444444;
      font-size: 1.1rem;
      padding: 10px 0;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 700;
    }
  }
  .why{
    margin-left: 15px;
    background-color: #FDF3E2;
    border-radius: 15px;
    position: relative;
    
    h3{
      padding: 30px 0 15px 15px;
      color: #444444;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 500;
    }
    ul{
      li{
        color: #444444;
        padding: 0 0 15px 15px;
        i{
          color: #FAB005;
          padding-right: 7px;
        }
      }
    }
    a{
      text-decoration: none;
      margin-left: 15px;
      border-radius: 15px;
      background-color: #10223A;
      padding: 10px 35px;
      color: white;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: bolder;
      display: inline-block;
      margin: 15px 0;
      transition: 0.3s ease-in-out;
      &:hover{
        background-color: #FAB005;
      }
    }
    .overlay{
      visibility: hidden;
      position: absolute;
      top: -35%;
      right: 0%;
      z-index: -5;
    }
  }
}
#safety{
  width: 100%;
  height: 500px;
  padding-top: 20px;
  .boxes{
    .b{
         img{
      margin-left: 130px;
      width: 25%;
      border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
      background-color: #FDF3E2;
      transition: 0.7s ease-in;
      padding: 10px;
      
          &:hover{
          border-radius: 70% 30% 30% 70% / 70% 55% 45% 30%;
          transform: scale(1.1);
          overflow: hidden;
  }
    }
      h3{
        color: #10223A;
        font-size: 1.6rem;
        padding: 10px 0;
      }
      p{
        font-size: 1.1rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: #4e4e4e;
      }  
    }

  }
}
#cameras{
  background-color: #DEE9F7;
  width: 100%;
  height: 1460px;
  margin-top: 300px;
  .vidioo{
    padding-top: 50px;

    .box{
      padding: 4rem !important;
      border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
      transition: all 0.7s ease-in-out;
      background-color: #FDF3E2;
      &:hover{
        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
      }
      iframe{
        width: 110%;
        height: 200px;
        border-radius: 15px;
      }
    }
    .box-2{
      padding: 4rem !important;
      border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
      transition: all 0.7s ease-in-out;
      background-color: #FDF3E2;
      &:hover{
        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
      }
      iframe{
        width: 110%;
        height: 200px;
        border-radius: 15px;
      }
    }
    .box-3{
      padding: 3rem !important;
      border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
      transition: all 0.7s ease-in-out;
      background-color: #FDF3E2;
      &:hover{
        border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
      }
      iframe{
        width: 100%;
        height: 200px;
        border-radius: 15px;
      }
    }
    .textt{
      h6{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        font-size: 1rem;
        border-bottom: 1px dashed orange;
        border-top: 1px dashed orange;
        width: 30%;
        margin-left: 50px;
        padding: 5px 0;
      }
      h4{
        font-size: 1.9rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        padding: 10px 0;
      }
    }
  } 
}
#daycare{
  width: 100%;
  height: 800px;
  padding-top: 140px;
  padding-left: 20px;
  .bbox{
    h5{
      color: #7C7C7C;
      font-size: 1.1rem;
      i{
        color:#FDE3A7;
        font-size: 1.4rem;
        transform: rotate(30deg);
      }
    }
    h1{
      color: #10223A;
      font-size: 3.4rem;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
      padding-bottom: 50px;
    }
    h4{
      color: #444444;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 600;
    }
    p{
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-size: 1.1rem;
      color: #535353;
    }
    .box-s{
      position: relative;
      .bir{
        background-color: #FAB005;
        height: 100%;
        border-radius: 8mm;
        padding: 5px 0;
        color: #10223A;
        font-size: 1.3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
      }
      .iki{
        background-color: #FAB005;
        height: 100%;
        border-radius: 8mm;
        padding: 5px 0;
        color: #10223A;
        font-size: 1.3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
      }
      ::after{
        content: "";
    position: absolute;
    left: 20px;
    top: 42px;
    height: 0;
    width: 2px;
    background-color: #D99D14;
      }
      :not(:last-child)::after{
        height: 81%;
      }
    }
    .box-a{
      .uc{
        background-color: #FAB005;
        height: 100%;
        border-radius: 8mm;
        padding: 5px 0;
        color: #10223A;
        font-size: 1.3rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        z-index: 10;
      }
    }
  }
  .box-right{
  .box-img{
    position: relative;
    .a{
    border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
    transition: all 0.7s ease-in-out;
    &:hover{
      border-radius: 57% 43% 31% 69% / 54% 61% 39% 46%;
    }          
    }

    .overlay{
      position: absolute;
      top: 80%;
      left: 30%;
    } 
  }
     
  }

}
#dil{
  width: 100%;
  height: 500px;
  padding-top: 56.9px;
  background-image: url(https://ingridkuhn.com/themes/waggytails_html/img/call3.jpg);
  background-repeat: no-repeat;
  background-attachment: none;
  margin-top: 500px;
  .box{
    background-color: white;
    border-radius: 15px;
    padding-bottom: 50px;
    h2{
      font-size: 2.3rem;
      color: #10223A;
      padding: 40px 0 25px 0;
    }
    p{
      font-size: 1.1rem;
      color: #49525b;
      padding-bottom: 20px;
    }
    a{
      text-decoration: none;
      padding: 10px 44px;
      border-radius: 15px;
      background-color: #FAB005;
      color: #10223A;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 700;
      font-size: 1rem;
      transition: 0.3s ease-in-out;
      &:hover{
        background-color: #10223A;
        color: white;
      }
    }
  }
}
#touch{
  width: 100%;
  height: 1200px;
  padding-top: 140px;
  background-image: url("https://ingridkuhn.com/themes/waggytails_html/css/../img/contactbg.png");
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 100%;
  .box-text{
    i{
      color: #FDE3A7;
      transform: rotate(30deg);
      font-size: 1.5rem;
    }
    h5{
      font-size: 1.1rem;
      color: #808080;
    }
    h1{
      font-size: 2.9rem;
      color: #10223A;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 620;
    }
  }
  .box1{
    padding-top: 65px;
  }
  .box2{
    padding-top: 65px; 
  }
  .box3{
    padding-top: 40px;
  }
  .box{
    padding: 50px 0;
    background-color: #FDF3E2;
    border-radius: 20px;
    position: relative;
    .overlay{
      position: absolute;
      top: -10%;
      left: 45%;
      transition: 0.5s ease-in-out;
        &:hover{
          transform: translateY(-10px);
        }
      i{
        color: white;
        background-color: #FAB005;
        padding: 12px 14px;
        font-size: 1.3rem;
        border-radius: 8mm;
      }
    }
    a{
      text-decoration: none;
      color: black;
    }
    h6{
      padding-bottom: 20px;
    }
  }
}
@media (min-width: 576px) {
  #market{
  visibility: hidden;
}  
#footer_left{
  visibility: hidden;
}




}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { 
  #market{
    visibility: hidden;
  }  
  #footer_left{
    visibility: hidden;
  }
  #slides{
    width: 100%;
    height: 700px;
    padding-left: 0;
    margin-left: 0;
    padding-top: 0;
    .carr{
      position: absolute;
      z-index: -1;
    }
    .overlay{
      width: 100%;
      height: auto;
      padding-top: 56.9px;
      background-color:  rgba(41, 39, 39, 0.5);
      position: relative;
      z-index: 5;
      h1{
        font-size: 4.3rem;
        color: white;
        padding-top: 100px;
      }
      p{
        color: white;
        font-size: 1.4rem;
        padding-bottom: 10px;
      }
      a{
        text-decoration: none;
        padding: 10px 44px;
        border-radius: 15px;
        background-color: #FAB005;
        color: #10223A;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
        &:hover{
          background-color: #10223A;
          color: white;
        }
      }
    }
  }


  }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  #market{
  
    z-index: 5;
    background-color: #262626;
    height: 56px;
    position: fixed;
    width: 100%;
    visibility: visible;
    .box-left{
      width: 90%;
      padding-top: 14px ;
      img{
        width: 150px;
        height: auto;
      }
    }
    .box-right{
      width: 7%;
      padding-top: 12px;
      a{
        text-decoration: none;
        color: white;
        padding-right: 10px;
        display: inline-block;
        background-color: #7AA93C;
        padding: 4px 10px;
        border-radius: 3px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 0.9rem;
      }
    }
  }
  #footer_left{
    visibility: visible;
    z-index: 999;
    width: 16.5%;
    height: 100vh;
    background-color: #10223A;
    position: fixed;
    margin-top: 56px;
    .wagg{
      img{
        padding-top: 70px;
      }
    }
    .listss{
      li{
        text-align: center;
      }
      .pages{
        position: relative;
        ul{
          padding-top: 8px;
          visibility: hidden;
          border-radius: 0px;
        li{
          a{
           color: #10223A; 
           border-radius: 1px;
           padding: 10px 44px;
           transition: 0.1s ease-in;
           &:hover{
            background-color: orange;
            border-radius: 0px;
           }
          }
          
        } 
        
        }
  
        .drop-menu{
          background-color: whitesmoke;
          position: absolute;
          top: 5%;
          left: 90%;
          width: 200px;
          border-radius: 10px;
  
        }  
        &:hover{
          ul{
            visibility: visible;
          }
        }    
      }
      ul{
        .orn{
          padding-top: 27px;
          a{
            background-color: orange; 
            color: #10223A;
          }
        }
        li{
          padding: 10px 0;
          a{
            border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
            text-decoration: none;
            transition: 0.5s ease-in-out;
            padding: 9px;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            font-weight: bold;
            color: white;
            &:hover{
              border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
             background-color: orange; 
             color: #10223A;
             font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
             font-weight: 500;
            }
          }
        }
      }
    }
    .text{
      i{
        color: orange;
        padding-right: 5px ;
      }
      p{
        color: white;
        font-size: 14px;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
      }
    }
    .icons{
      i{
        padding: 0 10px;
        font-size: 20px;
        color: orange;
      }
    }
  }
  #slides{
    width: 83.5%;
    height: 700px;
    margin-left: 251px;
    padding-top: 56.9px;
    clip-path: polygon(50% 0%, 80% 0, 100% 0, 100% 95%, 80% 93%, 55% 100%, 28% 91%, 0 95%, 0 0, 16% 0);
    .carr{
      position: absolute;
      z-index: -1;
    }
    .overlay{
      width: 100%;
      height: 700px;
      padding-top: 56.9px;
      clip-path: polygon(50% 0%, 80% 0, 100% 0, 100% 95%, 80% 93%, 55% 100%, 28% 91%, 0 95%, 0 0, 16% 0);
      background-color:  rgba(41, 39, 39, 0.5);
      position: relative;
      z-index: 5;
      h1{
        font-size: 4.3rem;
        color: white;
        padding-top: 100px;
      }
      p{
        color: white;
        font-size: 1.4rem;
        padding-bottom: 10px;
      }
      a{
        text-decoration: none;
        padding: 10px 44px;
        border-radius: 15px;
        background-color: #FAB005;
        color: #10223A;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
        &:hover{
          background-color: #10223A;
          color: white;
        }
      }
    }
  }
  #qua{
    width: 83.5%;
    height: 550px;
    margin-left: 251px;
    padding-top: 110px;
    .sek{
        padding-left: 180px;
        position: relative;
        img{
          width: 450px;
          border-radius: 15px;
        }
        .overlay{
          position: absolute;
          padding: 30px;
          border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
          background-color: #D99D14;
          padding: 25px;
          font-size: 24px;
          opacity: 0.8;
          margin-top: -20px;
          color: white;
          font-style: italic;
          top: 0%;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 600;
          span{
            display: block;
          }
        }
    }
    .textss{
      padding-left: 80px;
      i{
        color: #fab0056b;
        font-size: 1.5rem;
      }
      h6{
        color: gray;
      }
      h1{
        font-size: 3.5rem;
        color: #10223A;
      }
      p{
        color: #444444;
        font-size: 1.1rem;
        padding: 15px 0;
      }
      a{
        text-decoration: none;
        padding: 10px 44px;
        border-radius: 15px;
        background-color: #FAB005;
        color: #10223A;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
        &:hover{
          background-color: #10223A;
          color: white;
        }
      }
    }
  }
  #xaski{
    width: 83.5%;
    height: 500px;
    margin-left: 250px;
    padding-top: 56.9px;
    button{
      border: none;
      background-color: white;
      img{
        border-radius: 20px;
        &:hover{
          border-radius: 20px;
          border: 3px solid orange;
        }
      }
    }
  }
  #we{
    width: 82%;
    height: 500px;
    margin-left: 250px;
    padding-top: 56.9px;
    .love{
      padding-left: 150px;
      i{
        color: #fab0056b;
        font-size: 1.5rem;
      }
      h6{
        color: gray;
      }
      h1{
        font-size: 3.5rem;
        color: #10223A;
      }
      p{
        color: #444444;
        font-size: 1.1rem;
        padding: 10px 0 0 0;
      }
      h5{
        color: #444444;
        font-size: 1.1rem;
        padding: 10px 0;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
      }
    }
    .why{
      background-color: #FDF3E2;
      border-radius: 15px;
      position: relative;
      
      h3{
        padding: 30px 0 15px 15px;
        color: #444444;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 500;
      }
      ul{
        li{
          color: #444444;
          padding: 0 0 15px 15px;
          i{
            color: #FAB005;
            padding-right: 7px;
          }
        }
      }
      a{
        text-decoration: none;
        margin-left: 15px;
        border-radius: 15px;
        background-color: #10223A;
        padding: 10px 35px;
        color: white;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: bolder;
      }
      .overlay{
        visibility: visible;
        position: absolute;
        top: -35%;
        right: 0%;
        z-index: -5;
      }
    }
  }
  #safety{
      width: 83.5%;
      height: 500px;
      padding-left: 500px;
      padding-top: 20px;
      .boxes{
        .b{
             img{
          margin-left: 64px;
          width: 45%;
          border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
          background-color: #FDF3E2;
          transition: 0.7s ease-in;
          padding: 10px;
          
              &:hover{
              border-radius: 70% 30% 30% 70% / 70% 55% 45% 30%;
              transform: scale(1.1);
              overflow: hidden;
      }
        }
          h3{
            color: #10223A;
            font-size: 1.6rem;
            padding: 10px 0;
          }
          p{
            font-size: 1.1rem;
            font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
            color: #4e4e4e;
          }  
        }
  
      }
  }
  #cameras{
    margin-left: 250px;
    background-color: #DEE9F7;
    width: 83.5%;
    height: 1150px;
    padding-top: 20px;
    margin-top: 0;
    .vidioo{
      padding-top: 50px;
  
      .box{
        margin-left: 150px;
        padding: 4rem !important;
        border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
        transition: all 0.7s ease-in-out;
        background-color: #FDF3E2;
        &:hover{
          border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
        }
        iframe{
          width: 110%;
          height: 200px;
          border-radius: 15px;
        }
      }
      .box-2{
        padding: 4rem !important;
        border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
        transition: all 0.7s ease-in-out;
        background-color: #FDF3E2;
        margin-left: 19px;
        &:hover{
          border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
        }
        iframe{
          width: 110%;
          height: 200px;
          border-radius: 15px;
        }
      }
      .box-3{
        padding: 3rem !important;
        border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
        transition: all 0.7s ease-in-out;
        background-color: #FDF3E2;
        margin-left: 350px;
        &:hover{
          border-radius: 62% 38% 82% 18% / 54% 61% 39% 46%;
        }
        iframe{
          width: 100%;
          height: 200px;
        }
      }
      .textt{
        h6{
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 600;
          font-size: 1rem;
          border-bottom: 1px dashed orange;
          border-top: 1px dashed orange;
          width: 30%;
          margin-left: 50px;
          padding: 5px 0;
        }
        h4{
          font-size: 1.9rem;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 700;
          padding: 10px 0;
        }
      }
    } 
  }
  #daycare{
    width: 82%;
    height: 800px;
    margin-left: 250px;
    padding-top: 140px;
    .bbox{
      padding-left: 150px;
      h5{
        color: #7C7C7C;
        font-size: 1.1rem;
        i{
          color:#FDE3A7;
          font-size: 1.4rem;
          transform: rotate(30deg);
        }
      }
      h1{
        color: #10223A;
        font-size: 3.4rem;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
        padding-bottom: 50px;
      }
      h4{
        color: #444444;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 600;
      }
      p{
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-size: 1.1rem;
        color: #535353;
      }
      .box-s{
        position: relative;
        .bir{
          background-color: #D99D14;
          height: 100%;
          border-radius: 8mm;
          padding: 5px 0;
          color: #10223A;
          font-size: 1.3rem;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 600;
        }
        .iki{
          background-color: #D99D14;
          height: 100%;
          border-radius: 8mm;
          padding: 5px 0;
          color: #10223A;
          font-size: 1.3rem;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 600;
        }
        ::after{
          content: "";
      position: absolute;
      left: 20px;
      top: 35px;
      height: 0;
      width: 2px;
      background-color: #D99D14;
        }
        :not(:last-child)::after{
          height: 81%;
        }
      }
      .box-a{
        .uc{
          background-color: #D99D14;
          height: 100%;
          border-radius: 8mm;
          padding: 5px 0;
          color: #10223A;
          font-size: 1.3rem;
          font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
          font-weight: 600;
          z-index: -10;
        }
      }
    }
    .box-right{
    .box-img{
      position: relative;
      .a{
      border-radius: 30% 70% 70% 30% / 30% 45% 55% 70%;
      transition: all 0.7s ease-in-out;
      &:hover{
        border-radius: 57% 43% 31% 69% / 54% 61% 39% 46%;
      }          
      }
  
      .overlay{
        position: absolute;
        top: 80%;
        left: 30%;
      } 
    }
       
    }
  
  }
  #dil{
    width: 83.5%;
    height: 560px;
    margin-left: 250px;
    padding-top: 56.9px;
    margin-top: 0;
    background-image: url(https://ingridkuhn.com/themes/waggytails_html/img/call3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    .box{
      background-color: white;
      border-radius: 15px;
      padding-bottom: 50px;
      margin-left: 170px;
      margin-top: 80px;
      h2{
        font-size: 2.3rem;
        color: #10223A;
        padding: 40px 0 25px 0;
      }
      p{
        font-size: 1.1rem;
        color: #49525b;
        padding-bottom: 20px;
      }
      a{
        text-decoration: none;
        padding: 10px 44px;
        border-radius: 15px;
        background-color: #FAB005;
        color: #10223A;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 700;
        font-size: 1rem;
        transition: 0.3s ease-in-out;
        &:hover{
          background-color: #10223A;
          color: white;
        }
      }
    }
  }
  #touch{
    width: 82%;
    height: 920px;
    margin-left: 250px;
    padding-top: 140px;
    background-image: url("https://ingridkuhn.com/themes/waggytails_html/css/../img/contactbg.png");
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: 100%;
    .box-text{
      i{
        color: #FDE3A7;
        transform: rotate(30deg);
        font-size: 1.5rem;
      }
      h5{
        font-size: 1.1rem;
        color: #808080;
      }
      h1{
        font-size: 2.9rem;
        color: #10223A;
        font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        font-weight: 620;
      }
    }
    .box1{
      margin-left: 200px;
      padding-top: 65px;
    }
    .box2{
      padding-top: 65px; 
    }
    .box3{
      margin-left: 400px;
      padding-top: 40px;
    }
    .box{
      padding: 50px 0;
      background-color: #FDF3E2;
      border-radius: 20px;
      position: relative;
      .overlay{
        position: absolute;
        top: -10%;
        left: 45%;
        i{
          color: white;
          background-color: #FAB005;
          padding: 12px 14px;
          font-size: 1.3rem;
          border-radius: 8mm;
        }
      }
      a{
        text-decoration: none;
        color: black;
      }
      h6{
        padding-bottom: 20px;
      }
    }
  }
  }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {  }

// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) {  }